[MASTER]
jobs=4
persistent=yes
suggestion-mode=yes
unsafe-load-any-extension=no

init-hook='import sys; sys.path.append(".")'

ignore=CVS,.git,__pycache__,.venv,venv,env,build,dist,alembic
ignore-patterns=test_.*?py,conftest.py

[MESSAGES CONTROL]
disable=
    C0111,  # missing-docstring
    C0103,  # invalid-name
    C0301,  # line-too-long
    R0903,  # too-few-public-methods
    R0913,  # too-many-arguments
    R0914,  # too-many-locals
    W0212,  # protected-access
    W0511,  # fixme
    E1101,  # no-member

[REPORTS]
output-format=text
reports=no
score=yes

[REFACTORING]
max-nested-blocks=5

[BASIC]
good-names=i,j,k,ex,Run,_,id,db,pk,e

[FORMAT]
max-line-length=120
indent-string='    '
indent-after-paren=4
expected-line-ending-format=LF

[LOGGING]
logging-format-style=new

[MISCELLANEOUS]
notes=FIXME,XXX,TODO

[SIMILARITIES]
min-similarity-lines=4
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes

[SPELLING]
spelling-store-unknown-words=no

[TYPECHECK]
ignored-classes=SQLObject,optparse.Values,thread._local,_thread._local

[VARIABLES]
init-import=no
dummy-variables-rgx=_+$|(_[a-zA-Z0-9_]*[a-zA-Z0-9]+?$)|dummy|^ignored_|^unused_

[CLASSES]
defining-attr-methods=__init__,__new__,setUp

[DESIGN]
max-args=7
max-attributes=10
max-bool-expr=5
max-branches=12
max-locals=15
max-parents=7
max-public-methods=20
max-returns=6
max-statements=50
min-public-methods=1

[IMPORTS]
allow-wildcard-with-all=no